<h1>Lists</h1>
<% if current_user %>
  <%= button_to "curate new list", new_list_path, :method => :get, class: 'btn btn-purple' %>
<% end %>
<% @lists.each do |list| %>
  <p>
    <strong><%= link_to list.title, list_path(list.id) %></strong><br>
      <%= list.description%>
  </p>
<% end %>
