<div class="container" id="profile_info">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <div>
     	<h1 class="title"><%= @user.username %></h1>
    </div>
    <div>
      <p><span class="context-text"><%= @user.description %></span></p>
      <p><span class="context-text">joined on</span> <span class="accent-text"><%= @user.created_at.strftime("%B %-d, %Y, at %l:%M%P") %></span></p>
    </div>
  </div>
</div>

<div class = "container">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <h2 class="title">Lists</h2><hr>
      <h4>This User has not posted any lists</h4>
  </div>
</div>
