<div class="container center-content" id="map-panel">
  <div class="row col-md-12 center-content">
    <h1 class="text-center title accent-text"><strong>Map</strong></h1>
    <h4 class="text-center">Select from a curated list of scenes to get a taste of what its like to Flick Hike in San Francisco</h4>
    <h5 class="text-center"><a class="accent-text" href="/signup">Sign up</a> now to get in on the scene</h5><br>
    <div class="col-md-6 center-block">
      <div class="center-block map" id="map"></div>
    </div>
    <div class="col-md-6 center-block">
      <form class="form-horizontal map center-block">
        <div class="form-group center-content">
          <label class=accent-text >Scenes</label>
          <i class="context-text">(Ctrl-Click up to eight selections)</i> <br>
          <select multiple id="waypoints" class="input-lg">
            <option value="City and County of San Francisco City Hall, United States, 1 Doctor Carlton B Goodlett Place, San Francisco, CA 94102">San Francisco City Hall</option>
            <option value="EPIC Steak, 369 The Embarcadero, San Francisco, CA 94105">EPIC Steak</option>
            <option value="City and County of San Francisco City Hall, United States, 1 Doctor Carlton B Goodlett Place, San Francisco, CA 94102">City and County of San Francisco City Hall</option>
            <option value="Masons Grand Lodge of California, 1111 California Street, San Francisco, CA 94108">Masons Grand Lodge</option>
            <option value="800 Larkin, 800 Larkin Street, San Francisco, CA 94109">800 Larkin</option>
            <option value="The Randall Museum, 199 Museum Way, San Francisco, CA 94114">The Randall Museum</option>
            <option value="555 Market St, San Francisco, CA 94105">555 Market St</option>
            <option value="200 Market St, San Francisco, CA 94111">200 Market St</option>
            <option value="Justin Herman Plaza, San Francisco Bay Trail, San Francisco, CA 94105">Justin Herman Plaza</option>
          </select>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-special" id="submit">Map List</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="directions-panel"></div>
</div>
