<div class="container">
	<h1 class="text-center about margin-top title accent-text">Meet Team Flick Hike</h1>
	<div class="row">
    <div class="container col-md-12">
			<img id="theImg"  src="/assets/vertigo-bridge.gif" class="margin-top img-responsive giant"/>
			<h3 class="text-center green margin-top accent-text title">Filmic Visions of San Francisco</h3>
			<h5 class="text-center pink">Flick Hike is a curation driven site for discovering San Francisco via historic film scene locations. Users curate lists of memorable film scenes, plot their own filmic adventures around the city, and share them with others.</h5>
      <a href="https://github.com/isangieri/flick-hike" target='_blank'> <p class="accent-text text-center">Flick Hike on Github</p></a>
		</div>
		<div class="container center-content col-md-12">
			<img id="theImg"  src="/assets/is.jpg" class="margin-top img-responsive img-circle img-square"/>
			<h3 class="text-center green margin-top accent-text title">Is</h3>
			<h5 class="text-center pink">Software Engineer based in Oakland, CA. Seriously serious about data visualization, especially as it pertains to full stack web applications.</h5>
      <a href="http://isangieri.com" target='_blank'><p class="text-center accent-text">isangieri.com</p></a>
		</div>
	</div>
</div>
