<div class="jumbotron hero">
	<div class="center-block">
		<h1 class="text-center title accent-text"><strong>Flick Hike</strong></h1>
 	</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 site-info">
			<h4 class="text-center">Flick Hike is San Francisco's filmic gateway to urban life. Curate lists of memorable film scenes, plot your own filmic adventures around the city, and share them with others. <a class="accent-text" href="/signup">Sign up</a> now to get in on the scene.</h4>
		</div>
	</div>
	<div class="row">
		<div class-"col-md-12">
	   <h1 class="text-center brand-msg accent"><%= link_to(lists_path) do %>
    <strong class="accent-text">peruse richly curated lists of San Francisco's coolest film locations</strong>
    <% end %>
		</h1>
		</div>
		</div>
</div>
