/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

.jumbo {
  background-image: url("http://45.media.tumblr.com/a2caa031e456ed5d99e0d8a71ac83826/tumblr_mpuq8z9pWW1qc2bleo1_500.gif");
  height: 500px;
	background-size: cover;
  overflow: hidden;
}

.jumbotron {
  position: relative;
  background: #000 url("jumbotron-bg.png") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

#map {
  min-width: 200px;
  min-height: 200px;
  max-height: 300px;
  width: 100%;
  position: fixed;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.map-panel {
  min-width: 200px;
  min-height: 200px;
  max-height: 300px;
  width: 100%;
  padding: 15px 5px 15px 5px;
  border: solid #81abb4 2px;
  border-radius: 15px;
  overflow: scroll;
}

.index-panel {
  min-width: 200px;
  min-height: 200px;
  max-height: 450px;
  width: 100%;
  padding: 15px 5px 15px 5px;
  border: solid #81abb4 2px;
  border-radius: 15px;
  overflow: scroll;
}

.index {
  padding: 15px 15px 0 15px;
}

.map-panel::-webkit-scrollbar {
  display: none;
}

.index-panel::-webkit-scrollbar {
  display: none;
}

#right-panel {
  line-height: 30px;
  margin-bottom: 15px;
  margin-right: 15px;
  height: 100%;
  width: 100%;
}

#waypoints {
  max-width: 100%;
  min-width: 200px;
}

.container {
  margin: 15px;
}

.gmnoprint {
    display:none;
}
.gmnoprint {
    background:none !important;
}

body {
  padding-top: 50px;
  min-width: 300px;
}

footer {
  margin-top: 50px;
  bottom:0;
  left:0;
}

ul {
  list-style-type: none;
  color: #81abb4;
}

ul {
  margin-bottom: 50px;
}

a:-webkit-any-link {
  text-decoration: none;
}

.glyphicon {
    font-size: 50px;
}

#notice {
  margin: 50px;
}

.photo_title {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  transform: translatex(0%);
}

.title {
  color: #2E2E2E;
  text-transform: uppercase;
}

.accent-text {
  color: #81abb4;
  font-weight: bold;
}

.context-text {
  color: #7F7777;
}

.center-content {
  margin: 0 auto;
}

.profile_photo {
	width: 280px;
	height: 300px;
}

.form-horizontal {
  width: 300px;
}

.control-label {
  color: #81abb4;
}

.button {
  float: left;
  display: inline-block;
}

.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 15px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-special {
    background: #81abb4;
    color: #ffffff;
}

.btn-special:hover, .btn-special:focus, .btn-special:active, .btn-special.active, .open > .dropdown-toggle.btn-special {
    background: #a9adae;
    color: #ffffff;
}

.btn-special:active, .btn-special.active {
    background: #a9adae;
    box-shadow: none;
}

.btn-light {
    background: #a9adae;
    color: #ffffff;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open > .dropdown-toggle.btn-light {
    background: #a9adae;
    color: #ffffff;
}

.btn-light:active, .btn-light.active {
    background: #D4D4D4;
    box-shadow: none;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background: #fff none repeat scroll 0 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.navbar-default {
  border-radius: 0;
  background: #FFFFFF;
  border-bottom: 1px solid #E5E5E5;
}

.navbar-brand-icon {
  height: 20px;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-right {
 padding-right: 30px;
}

.navbar-header {
 padding-left: 30px;
}

@media (min-width: 760px) {

  #map {
    height: 300px;
    width: 100%;
  }

  .map-panel {
    height: 300px;
    width: 100%;
  }

  .index-panel {
    height: 450px;
    width: 100%;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-right: 10px;
  }

  .navbar .nav>li.dropdown.open>.dropdown-toggle, .navbar .nav>li.dropdown.active>.dropdown-toggle, .navbar .nav>li.dropdown.open.active>.dropdown-toggle {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    z-index: 9999
  }

  .navbar .nav>li>.dropdown-menu {
    border: 1px solid #ccc;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    /*left: -1px;*/
    min-width: 200px;
    margin: -1px 0 0;
    z-index: 9991
  }

}
